<footer>
        <div class="tt-footer-default tt-color-scheme-02">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-9">
                        <div class="tt-newsletter-layout-01">
                            <div class="tt-newsletter">
                                <div class="tt-mobile-collapse">
                                    <h4 class="tt-collapse-title">
                                        Giữ liên lạc với chúng tôi:
                                    </h4>
                                    <div class="tt-collapse-content">
                                        <form id="newsletterform" class="form-inline form-default" method="post" novalidate="novalidate" action="#">
                                            <div class="form-group">
                                                <input type="text" name="email" class="form-control" placeholder="Nhập địa chỉ e-mail"">
                                                <button type="submit" class="btn">NHẬN THÔNG BÁO</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <ul class="tt-social-icon">
                            <li><a class="icon-g-64" target="_blank" href="http://www.facebook.com/"></a></li>
                            <li><a class="icon-h-58" target="_blank" href="http://www.facebook.com/"></a></li>
                            <li><a class="icon-g-66" target="_blank" href="http://www.twitter.com/"></a></li>
                            <li><a class="icon-g-67" target="_blank" href="http://www.google.com/"></a></li>
                            <li><a class="icon-g-70" target="_blank" href="https://instagram.com/"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="tt-footer-col tt-color-scheme-01">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-2 col-xl-3">
                        <div class="tt-mobile-collapse">
                            <h4 class="tt-collapse-title">
                                CATEGORIES
                            </h4>
                            <div class="tt-collapse-content">
                                <ul class="tt-list">
                                    <li><a href="/products/Áo">Áo</a></li>
                                    <li><a href="/products/Quần">Quần</a></li>
                                    <li><a href="/products/Phụ%20Kiện">Phụ kiện</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2 col-xl-3">
                        <div class="tt-mobile-collapse">
                            <h4 class="tt-collapse-title">
                                Tài khoản của tôi
                            </h4>
                            <div class="tt-collapse-content">
                                <ul class="tt-list">
                                    <li><a href="/shopping_cart">Giỏ hàng</a></li>
                                    <li><a href="/login">Đăng nhập</a></li>
                                    <li><a href="/create-account">Đăng ký</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="tt-mobile-collapse">
                            <h4 class="tt-collapse-title">
                                Về chúng tôi
                            </h4>
                            <div class="tt-collapse-content">
                                <p>
                                    Bạn đang tìm kiếm sự chủ động? Hoặc chỉ đơn giản là ngẫu hứng lướt qua như một cơn gió vì chẳng biết phải làm gì. Hãy đến với Bros Shop - nơi mà bất cứ giấc mơ nào cũng có thể trở thành hiện thực. Nơi đây không chỉ có những sản phẩm tuyệt vời mà bạn còn có thể có những phút giây thư giãn bằng việc đọc comment sản phẩm.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="tt-newsletter">
                            <div class="tt-mobile-collapse">
                                <h4 class="tt-collapse-title">
                                    Liên hệ
                                </h4>
                                <div class="tt-collapse-content">
                                    <address>
                                        <p><span>We are:</span>Bros shop</p>
                                        <p><span>About Us:</span><a href="https://brogrammers2527.github.io/default.html">Brogrammers2527</a></p>
                                        <p><span>E-mail:</span> <a href="mailto:nocodenolife2527@gmail.com">nocodenolife2527@gmail.com</a></p>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tt-footer-custom">
            <div class="container">
                <div class="tt-row">
                    <div class="tt-col-left">
                        <div class="tt-col-item tt-logo-col">
                            <!-- logo -->
                            <a class="tt-logo tt-logo-alignment" href="/">
                                <img  src="/images/custom/logo.png" alt="">
                            </a>
                            <!-- /logo -->
                        </div>
                        <div class="tt-col-item">
                            <!-- copyright -->
                            <div class="tt-box-copyright">
                                &copy; 1712767
                            </div>
                            <!-- /copyright -->
                        </div>
                    </div>
                    <div class="tt-col-right">
                        <div class="tt-col-item">
                            <!-- payment-list -->
                            <ul class="tt-payment-list">
                                <li><a href="page404.html"><span class="icon-Stripe"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span>
                                </span></a></li>
                                <li><a href="page404.html"> <span class="icon-paypal-2">
                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span>
                                </span></a></li>
                                <li><a href="page404.html"><span class="icon-visa">
                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
                                </span></a></li>
                                <li><a href="page404.html"><span class="icon-mastercard">
                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span>
                                </span></a></li>
                                <li><a href="page404.html"><span class="icon-discover">
                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span>
                                </span></a></li>
                                <li><a href="page404.html"><span class="icon-american-express">
                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span>
                                </span></a></li>
                            </ul>
                            <!-- /payment-list -->
                        </div>
                    </div>
                </div>
            </div>
        </div>