	<!-- tt-mobile menu -->
	<nav class="panel-menu mobile-main-menu">
		<ul>
			<li>
				<a href="/">Trang chủ</a>
				<ul>
					<li>
						<a href="/">HOME STYLES</a>
						<ul>
							<li><a href="/">Home — Example 1 <span class="tt-badge tt-fatured">Popular</span></a></li>
							<li><a href="/index-02.html">Home — Example 2</a></li>
							<li><a href="/index-03.html">Home — Example 3</a></li>
							<li><a href="/index-04.html">Home — Example 4 <span class="tt-badge tt-fatured">Popular</span></a></li>
							<li><a href="/index-05.html">Home — Example 5</a></li>
							<li><a href="/index-06.html">Home — Example 6</a></li>
							<li><a href="/index-07.html">Home — Example 7</a></li>
							<li><a href="/index-08.html">Home — Example 8</a></li>
							<li><a href="/index-09.html">Home — Example 9</a></li>
						</ul>
					</li>
					<li>
						<a href="/">HOME STYLES</a>
						<ul>
							<li><a href="/index-10.html">Home — Example 10</a></li>
							<li><a href="/index-11.html">Home — Example 11</a></li>
							<li><a href="/index-12.html">Home — Example 12</a></li>
							<li><a href="/index-13.html">Home — Example 13</a></li>
							<li><a href="/index-14.html">Home — Example 14</a></li>
							<li><a href="/index-15.html">Home — Example 15</a></li>
							<li><a href="/index-16.html">Home — Example 16 <span class="tt-badge tt-fatured">Popular</span></a></li>
							<li><a href="/index-17.html">Home — Example 17</a></li>
							<li><a href="/index-18.html">Home — Example 18</a></li>
						</ul>
					</li>
					<li>
						<a href="/">HOME SKINS <span class="tt-badge tt-sale">HOT</span></a>
						<ul>
							<li><a href="/index-skin-snowboards.html">Snowboards Shop <span class="tt-badge tt-fatured">Popular</span></a></li>
							<li><a href="/index-skin-phones.html">Phones Shop <span class="tt-badge tt-fatured">Popular</span></a></li>
							<li><a href="/index-skin-bikes.html">Bikes Shop <span class="tt-badge tt-fatured">Popular</span></a></li>
							<li><a href="/index-skin-lingerie.html">Lingerie Shop</a></li>
							<li><a href="/index-skin-furniture.html">Furniture Shop</a></li>
							<li><a href="/index-skin-books.html">Books Shop <span class="tt-badge tt-new">New</span></a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="/products">Cửa hàng</a>
				
			</li>
			
		</ul>
		<div class="mm-navbtn-names">
			<div class="mm-closebtn">Close</div>
			<div class="mm-backbtn">Back</div>
		</div>
	</nav>
	<!-- tt-mobile-header -->
	<div class="tt-mobile-header">
		<div class="container-fluid">
			<div class="tt-header-row">
				<div class="tt-mobile-parent-menu">
					<div class="tt-menu-toggle">
						<i class="icon-03"></i>
					</div>
				</div>
				<!-- search -->
				<div class="tt-mobile-parent-search tt-parent-box"></div>
				<!-- /search -->
				<!-- cart -->
				<div class="tt-mobile-parent-cart tt-parent-box"></div>
				<!-- /cart -->
				<!-- account -->
				<div class="tt-mobile-parent-account tt-parent-box"></div>
				<!-- /account -->
				<!-- currency -->
				<div class="tt-mobile-parent-multi tt-parent-box"></div>
				<!-- /currency -->
			</div>
		</div>
		<div class="container-fluid tt-top-line">
			<div class="row">
				<div class="tt-logo-container">
					<!-- mobile logo -->
					<a class="tt-logo tt-logo-alignment" href="/"><img src="images/custom/logo.png" alt=""></a>
					<!-- /mobile logo -->
				</div>
			</div>
		</div>
	</div>
	<!-- tt-desktop-header -->
	<div class="tt-desktop-header">
		<div class="container">
			<div class="tt-header-holder">
				<div class="tt-col-obj tt-obj-logo">
					<!-- logo -->
					<a class="tt-logo tt-logo-alignment" href="/"><img src="images/custom/logo.png" alt=""></a>
					<!-- /logo -->
				</div>
				<div class="tt-col-obj tt-obj-menu">
					<!-- tt-menu -->
					<div class="tt-desctop-parent-menu tt-parent-box">
						<div class="tt-desctop-menu">
							<nav>
								<ul>
									<li class="dropdown tt-megamenu-col-02 selected">
										<a href="/">Trang chủ</a>
										
									</li>
									<li class="dropdown megamenu">
										<a href="/products">Cửa hàng</a>
										<div class="dropdown-menu">
											<div class="row tt-col-list">
												<div class="col">
													<h6 class="tt-title-submenu"><a href="/products">LISTING STYLES</a></h6>
													<ul class="tt-megamenu-submenu">
														<li><a href="/products">Listing With Left Sidebar</a></li>
														<li><a href="/listing-right-column.html">Listing With Right Sidebar</a></li>
														<li><a href="/listing-not-sidebar.html">Listing Not Sidebar</a></li>
														<li><a href="/listing-not-sidebar-full-width.html">Listing Not Sidebar Full Width</a></li>
														<li><a href="/listing-metro.html">Listing Metro</a></li>
														<li><a href="/listing-left-column-with-block.html">Listing With Custom HTML Block</a></li>
														<li><a href="/products">Listing Collection</a></li>
														<li><a href="/lookbook.html">Look Book</a></li>
													</ul>
												</div>
												<div class="col">
													<h6 class="tt-title-submenu"><a href="/product.html">PRODUCT PAGE STYLES</a></h6>
													<ul class="tt-megamenu-submenu">
														<li><a href="/product.html">Product Example 1</a></li>
														<li><a href="/product-02.html">Product Example 2</a></li>
														<li><a href="/product-03.html">Product Example 3</a></li>
														<li><a href="/product-04.html">Product Example 4</a></li>
														<li><a href="/product-variable.html">Product Layout</a></li>
														<li><a href="/product-three-columns.html">Three Columns</a></li>
													</ul>
												</div>
												<div class="col">
													<h6 class="tt-title-submenu"><a href="/product-variable.html">PRODUCT PAGE TYPES</a></h6>
													<ul class="tt-megamenu-submenu">
														<li><a href="/product.html">Standard Product</a></li>
														<li><a href="/product-variable.html">Variable Product</a></li>
														<li><a href="/product-04.html">Grouped Product</a></li>
														<li><a href="/product-label-new.html">New Product</a></li>
														<li><a href="/product-label-sale.html">Sale Product</a></li>
														<li><a href="/product-label-out-of-stock.html">Out Of Stock Product</a></li>
													</ul>
												</div>
												<div class="col">
													<h6 class="tt-title-submenu"><a href="/shopping_cart_02.html">OTHER PAGES</a></h6>
													<ul class="tt-megamenu-submenu">
														<li><a href="/shopping_cart_02.html">Cart</a></li>
														<li><a href="/shopping_cart_01.html">Cart With Right Col</a></li>
														<li><a href="/account.html">Account</a></li>
														<li><a href="/account_address.html">Account Address</a></li>
														<li><a href="/account_address_fields.html">Account Address Fields</a></li>
													</ul>
												</div>
											</div>
										</div>
									</li>
									
								</ul>
							</nav>
						</div>
					</div>
					<!-- /tt-menu -->
				</div>
				<div class="tt-col-obj tt-obj-options obj-move-right">
					<!-- tt-search -->
					<div class="tt-desctop-parent-search tt-parent-box">
						<div class="tt-search tt-dropdown-obj">
							<button class="tt-dropdown-toggle" data-tooltip="Search" data-tposition="bottom">
								<i class="icon-f-85"></i>
							</button>
							<div class="tt-dropdown-menu">
								<div class="container">
									<form method="GET" action="/search-result.html">
										<div class="tt-col">
											<input type="text" class="tt-search-input" placeholder="Tìm Kiếm Sản Phẩm...">
											
											<button class="tt-btn-search" type="submit"></button>
										
										</div>
										<div class="tt-col">
											<button class="tt-btn-close icon-g-80"></button>
										</div>
										<div class="tt-info-text">
											Bạn đang tìm kiếm gì?
										</div>
										<div class="search-results">
											<ul>
												<li>
										            <a href="/product.html">
										            	<div class="thumbnail"><img src="images/loader.svg" data-src="images/product/product-03.jpg" alt=""></div>
										            	<div class="tt-description">
										            		<div class="tt-title">Flared Shift Bag</div>
										            		<div class="tt-price">
																<span class="new-price">$14</span>
																<span class="old-price">$24</span>
															</div>
										            	</div>
										            </a>
										        </li>
										        <li>
										           <a href="/product.html">
										            	<div class="thumbnail"><img src="images/loader.svg" data-src="images/product/product-02.jpg" alt=""></div>
										            	<div class="tt-description">
										            		<div class="tt-title">Flared Shift Bag</div>
										            		<div class="tt-price">
																$24
															</div>
										            	</div>
										            </a>
										        </li>
										        <li>
										           <a href="/product.html">
										            	<div class="thumbnail"><img src="images/loader.svg" data-src="images/product/product-01.jpg" alt=""></div>
										            	<div class="tt-description">
										            		<div class="tt-title">Flared Shift Bag</div>
										            		<div class="tt-price">
																$14
															</div>
										            	</div>
										            </a>
										        </li>
										        <li>
										           <a href="/product.html">
										            	<div class="thumbnail"><img src="images/loader.svg" data-src="images/product/product-04.jpg" alt=""></div>
										            	<div class="tt-description">
										            		<div class="tt-title">Flared Shift Bag</div>
										            		<div class="tt-price">
																$24
															</div>
										            	</div>
										            </a>
										        </li>
										        <li>
										           <a href="/product.html">
										            	<div class="thumbnail"><img src="images/loader.svg" data-src="images/product/product-05.jpg" alt=""></div>
										            	<div class="tt-description">
										            		<div class="tt-title">Flared Shift Bag</div>
										            		<div class="tt-price">
																$17
															</div>
										            	</div>
										            </a>
										        </li>
										        <li>
										           <a href="/product.html">
										            	<div class="thumbnail"><img src="images/loader.svg" data-src="images/product/product-06.jpg" alt=""></div>
										            	<div class="tt-description">
										            		<div class="tt-title">Flared Shift Bag</div>
										            		<div class="tt-price">
																$20
															</div>
										            	</div>
										            </a>
										        </li>
											</ul>
											<button type="button" class="tt-view-all">Xem tất cả sản phẩm</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- /tt-search -->
					<!-- tt-cart -->
					<div class="tt-desctop-parent-cart tt-parent-box">
						<div class="tt-cart tt-dropdown-obj" data-tooltip="Cart" data-tposition="bottom">
							<button class="tt-dropdown-toggle">
								<i class="icon-f-39"></i>
								<span class="tt-badge-cart">2</span>
							</button>
							<div class="tt-dropdown-menu">
								<div class="tt-mobile-add">
									<h6 class="tt-title">Giỏ hàng</h6>
									<button class="tt-close">Đóng</button>
								</div>
								<div class="tt-dropdown-inner">
									<div class="tt-cart-layout">
										<!-- layout emty cart -->
										<!-- <a href="/empty-cart.html" class="tt-cart-empty">
											<i class="icon-f-39"></i>
											<p>No Products in the Cart</p>
										</a> -->
										<div class="tt-cart-content">
											<div class="tt-cart-list">
												<div class="tt-item">
													<a href="/product.html">
														<div class="tt-item-img">
															<img src="images/loader.svg" data-src="images/product/product-01.jpg" alt="">
														</div>
														<div class="tt-item-descriptions">
															<h2 class="tt-title">Flared Shift Dress</h2>
															<ul class="tt-add-info">
																<li>Yellow, Material 2, Size 58,</li>
																<li>Vendor: Addidas</li>
															</ul>
															<div class="tt-quantity">1 X</div> <div class="tt-price">$12</div>
														</div>
													</a>
													<div class="tt-item-close">
														<a href="/#" class="tt-btn-close"></a>
													</div>
												</div>
												<div class="tt-item">
													<a href="/product.html">
														<div class="tt-item-img">
															<img src="images/loader.svg" data-src="images/product/product-02.jpg" alt="">
														</div>
														<div class="tt-item-descriptions">
															<h2 class="tt-title">Flared Shift Dress</h2>
															<ul class="tt-add-info">
																<li>Yellow, Material 2, Size 58,</li>
																<li>Vendor: Addidas</li>
															</ul>
															<div class="tt-quantity">1 X</div> <div class="tt-price">$18</div>
														</div>
													</a>
													<div class="tt-item-close">
														<a href="/#" class="tt-btn-close"></a>
													</div>
												</div>
											</div>
											<div class="tt-cart-total-row">
												<div class="tt-cart-total-title">Tổng tiền:</div>
												<div class="tt-cart-total-price">$30</div>
											</div>
											<div class="tt-cart-btn">
												<div class="tt-item">
													<a href="/add-address.html" class="btn">Chuyển đến thanh toán</a>
												</div>
												<div class="tt-item">
													<a href="/shopping_cart_02.html" class="btn-link-02 tt-hidden-mobile">Xem giỏ hàng</a>
													<a href="/shopping_cart_02.html" class="btn btn-border tt-hidden-desctope">Xem giỏ hàng</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /tt-cart -->
					<!-- tt-account -->
					<div class="tt-desctop-parent-account tt-parent-box">
						<div class="tt-account tt-dropdown-obj">
							<button class="tt-dropdown-toggle"  data-tooltip="Tài khoản của tôi" data-tposition="bottom"><i class="icon-f-94"></i></button>
							<div class="tt-dropdown-menu">
								<div class="tt-mobile-add">
									<button class="tt-close">Close</button>
								</div>
								<div class="tt-dropdown-inner">
									<ul>
											<%if (typeof(user) !== 'undefined') { %>
												<li>Xin chào, <%= user.username %></a></li>
												<li><a href="/account.html"><i class="icon-f-94"></i>Tài khoản</a></li>
												<li><a href="/add-address.html"><i class="icon-f-68"></i>Thanh toán</a></li>
												<% } %>
										
									    
									    <li><a href="/wishlist.html"><i class="icon-n-072"></i>Yêu thích</a></li>
									    
										
										
										<%if (typeof(user) !== 'undefined') { %>
											<li><a href="/logout"><i class="icon-f-77"></i>Đăng xuất</a></li>
											<% } %>

											<%if (typeof(user) === 'undefined') { %>
												<li><a href="/login"><i class="icon-f-76"></i>Đăng nhập</a></li>
									    
									    <li><a href="/create-account"><i class="icon-f-94"></i>Đăng ký</a></li>
												<% } %>
									    
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- /tt-account -->
					<!-- tt-langue and tt-currency -->
					<div class="tt-desctop-parent-multi tt-parent-box">
						<div class="tt-multi-obj tt-dropdown-obj">
							<button class="tt-dropdown-toggle" data-tooltip="Cài đặt" data-tposition="bottom"><i class="icon-f-79"></i></button>
							<div class="tt-dropdown-menu">
								<div class="tt-mobile-add">
									<button class="tt-close">Đóng</button>
								</div>
								<div class="tt-dropdown-inner">
									<ul>
										<li class="active"><a href="/#">Tiếng Việt</a></li>
										
									</ul>
									<ul>
										<li class="active"><a href="/#"><i class="icon-h-59"></i>VND - Việt Nam Đồng</a></li>
										<li><a href="/#"><i class="icon-h-60"></i>USD - Dollar</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- /tt-langue and tt-currency -->
				</div>
			</div>
		</div>
	</div>
	<!-- stuck nav -->
	<div class="tt-stuck-nav">
		<div class="container">
			<div class="tt-header-row ">
				<div class="tt-stuck-parent-menu"></div>
				<div class="tt-stuck-parent-search tt-parent-box"></div>
				<div class="tt-stuck-parent-cart tt-parent-box"></div>
				<div class="tt-stuck-parent-account tt-parent-box"></div>
				<div class="tt-stuck-parent-multi tt-parent-box"></div>
			</div>
		</div>
	</div>
