<!-- Modal (newsletter) -->
<div class="modal  fade" id="Modalnewsletter" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true" data-pause="2000">
  <div class="modal-dialog modal-sm">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
      </div>
      <form>
        <div class="modal-body no-background">
          <div class="tt-modal-newsletter">
            <div class="tt-modal-newsletter-promo">
              <div class="tt-title-small">
                Hãy là người đầu tiên<br />
                tìm hiểu về
              </div>
              <div class="tt-title-large">SHOP</div>
              <p>
                SHOP THỜI TRANG XỊN XÒ
              </p>
            </div>
            <p>Bằng việc theo dõi bạn sẽ đồng ý với &amp; các quyền.<br /></p>
            <div class="subscribe-form form-default">
              <div class="row-subscibe">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Enter your e-mail" />
                  <button type="submit" class="btn">THAM GIA CÙNG CHÚNG TÔI</button>
                </div>
              </div>
              <div class="checkbox-group">
                <input type="checkbox" id="checkBox1" />
                <label for="checkBox1">
                  <span class="check"></span>
                  <span class="box"></span>
                  Không hiện popup này nữa
                </label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
