<!-- modal (AddToCartProduct) -->
<div class="modal  fade" id="modalAddToCartProduct" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
      </div>
      <div class="modal-body">
        <div class="tt-modal-addtocart mobile">
          <div class="tt-modal-messages"><i class="icon-f-68"></i> Đã thêm vào giỏ hàng thành công!</div>
          <a href="#" class="btn-link btn-close-popup">Tiếp tục mua sắm</a>
          <a href="shopping_cart_02.html" class="btn-link">XEM GIỎ HÀNG</a>
          <a href="page404.html" class="btn-link">Thanh Toán</a>
        </div>
        <div class="tt-modal-addtocart desctope">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="tt-modal-messages"><i class="icon-f-68"></i> Đã thêm vào giỏ hàng thành công!</div>
              <div class="tt-modal-product">
                <div class="tt-img">
                  <img src="/images/loader.svg" data-src="images/product/product-01.jpg" alt="" />
                </div>
                <h2 class="tt-title"><a href="product.html">Flared Shift Dress</a></h2>
                <div class="tt-qty">QTY: <span>1</span></div>
              </div>
              <div class="tt-product-total">
                <div class="tt-total">TOTAL: <span class="tt-price">$324</span></div>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <a href="#" class="tt-cart-total">
                There are 1 items in your cart
                <div class="tt-total">TOTAL: <span class="tt-price">$324</span></div>
              </a>
              <a href="#" class="btn btn-border btn-close-popup">Tiếp tục mua sắm</a>
              <a href="shopping_cart_02.html" class="btn btn-border">XEM GIỎ HÀNG</a>
              <a href="#" class="btn">Thanh Toán</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
