<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/loader %> <% include partials/popup %>
    <header>
      <% include partials/header %>
    </header>
    <div class="tt-breadcrumb">
      <div class="container">
        <ul>
          <li><a href="/">Trang chủ</a></li>
          <li>Tài khoản</li>
        </ul>
      </div>
    </div>
    <div id="tt-pageContent">
      <div class="container-indent">
        <div class="container container-fluid-custom-mobile-padding">
          <h1 class="tt-title-subpages noborder">TÀI KHOẢN</h1>
          <div class="tt-shopping-layout">
            <h2 class="tt-title">ĐƠN HÀNG #001</h2>
            <a href="account.html" class="tt-link-back"> <i class="icon-e-19"></i> TRỞ VỀ TRANG TÀI KHOẢN </a>
            <div class="tt-data">November 20, 2016</div>
            <div class="tt-wrapper">
              <div class="tt-table-responsive">
                <table class="tt-table-shop-03">
                  <thead>
                    <tr>
                      <th>Sản phẩm</th>
                      <th>Giá</th>
                      <th>Số lượng</th>
                      <th>Tổng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Lorem ipsum dolor sit amet conse ctetur</td>
                      <td>$100456</td>
                      <td>1</td>
                      <td>$100456</td>
                    </tr>
                    <tr>
                      <td>Ut enim ad minim veniam, quis nostrud</td>
                      <td>$100</td>
                      <td>1</td>
                      <td>$100</td>
                    </tr>
                    <tr>
                      <td>
                        Eexercitation ullamco laboris nisi ut aliquip ex ea
                      </td>
                      <td>$100</td>
                      <td>1</td>
                      <td>$100</td>
                    </tr>
                    <tr>
                      <td>Commodo consequat</td>
                      <td>$100</td>
                      <td>1</td>
                      <td>$100</td>
                    </tr>
                    <tr>
                      <td colspan="3"><strong>Tổng giá sản phẩm</strong></td>
                      <td>$300</td>
                    </tr>
                    <tr>
                      <td colspan="3">
                        <strong>Giao hàng nội địa</strong>
                      </td>
                      <td>$18</td>
                    </tr>
                    <tr>
                      <td colspan="3"><strong>Tổng</strong></td>
                      <td><strong>$45</strong></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tt-wrapper">
              <div class="tt-shop-info">
                <div class="tt-item">
                  <h6 class="tt-title">Địa chỉ thanh toán:</h6>
                  <div class="tt-description">
                    <strong>Trạng thaí thanh toán: đang chờ</strong>
                    <p>
                      Ut enim ad minim veniam, quis nostrud Eexercitation ullamco laboris nisi ut aliquip ex ea Commodo consequat
                    </p>
                  </div>
                </div>
                <div class="tt-item">
                  <h6 class="tt-title">Địa chỉ giao hàng:</h6>
                  <div class="tt-description">
                    <strong><a href="#">Trạng thaí thanh toán: đang chờ</a></strong>
                    <p>
                      Ut enim ad minim veniam, quis nostrud Eexercitation ullamco laboris nisi ut aliquip ex ea Commodo consequat
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <% include partials/footer %>
    </footer>
    <a href="#" class="tt-back-to-top">BACK TO TOP</a>
    <% include partials/modal-addtocartproduct %> <% include partials/modal-quickviewmodal %> <% include partials/modal-videoproduct %> <% include partials/modal-subscribegood %> <% include
    partials/modal-newsletter %> <% include partials/script %>
  </body>
</html>
