<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/loader %>
    <header>
      <% include partials/header %>
    </header>
    <div class="tt-breadcrumb">
      <div class="container">
        <ul>
          <li><a href="index.html">Trang chủ</a></li>
          <li>Đăng ký taì khoản</li>
        </ul>
      </div>
    </div>
    <div id="tt-pageContent">
      <div class="container-indent">
        <div class="container">
          <h1 class="tt-title-subpages noborder">ĐĂNG KÝ TÀI KHOẢN</h1>
          <div class="tt-login-form">
            <div class="row justify-content-center">
              <div class="col-md-8 col-lg-6">
                <div class="tt-item">
                  <h2 class="tt-title">THÔNG TIN CÁ NHÂN</h2>
                  <%if (message != "undefined") { %>
                  <div
                    class="form-group form-control error"
                    style="background-color: #FFCCCC; font-weight: bold; color : rgb(210, 29, 29)"
                  >
                    <%= message %>
                  </div>
                  <% } %>
                  <div class="form-default">
                    <form
                      id="createaccount"
                      method="post"
                      novalidate="novalidate"
                      action="/create-account"
                    >
                      <div class="form-group">
                        <label for="loginInputEmail">Tên đăng nhập *</label>
                        <input
                          type="text"
                          name="username"
                          class="form-control"
                          id="username"
                          placeholder="Nhập username"
                        />
                      </div>
                      <div class="form-group">
                        <label for="loginInputPassword">Mật khẩu *</label>
                        <input
                          type="text"
                          name="password"
                          class="form-control"
                          id="password"
                          placeholder="Nhập mật khẩu"
                        />
                      </div>
                      <!-- <div class="form-group">
                        <label for="loginInputPassword2"
                          >Nhập lại mật khẩu *</label
                        >
                        <input
                          type="text"
                          name="password2"
                          class="form-control"
                          id="password2"
                          placeholder="Nhập lại mật khẩu"
                        />
                      </div> -->
                      <div class="row">
                        <div class="col-auto">
                          <div class="form-group">
                            <button class="btn btn-border" type="submit">
                              Đăng ký
                            </button>
                          </div>
                        </div>
                        <div class="col-auto align-self-center">
                          <div class="form-group">
                            <ul class="additional-links">
                              <li>or <a href="/">Quay về cửa hàng</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <% include partials/footer %>
    </footer>
    <a href="#" class="tt-back-to-top">BACK TO TOP</a>
    <!-- Partials -->
    <% include partials/modal-addtocartproduct %> <% include
    partials/modal-quickviewmodal %> <% include partials/modal-videoproduct %>
    <% include partials/modal-subscribegood %> <% include
    partials/modal-newsletter %> <% include partials/script %>
  </body>
</html>
