<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/loader %>
    <header>
      <% include partials/header %>
    </header>
    <div class="tt-breadcrumb">
      <div class="container">
        <ul>
          <li><a href="/">Trang chủ</a></li>
          <li>Đăng ký taì khoản</li>
        </ul>
      </div>
    </div>
    <div id="tt-pageContent">
      <div class="container-indent">
        <div class="container">
          <h1 class="tt-title-subpages noborder">Quên Mật Khẩu ?</h1>
          <div class="tt-login-form">
            <div class="row justify-content-center">
              <div class="col-md-8 col-lg-6">
                <div class="tt-item">
                  <h2 class="tt-title">Nhập thông tin</h2>
                  <div class="form-default">
                    <form
                      id="forgot-password"
                      method="post"
                      novalidate="novalidate"
                      action="/forgot-password"
                    >
                      <%if (message != "undefined") { %>
                      <div
                        class="form-group form-control error"
                        style="background-color: #FFCCCC; font-weight: bold; color : rgb(210, 29, 29)"
                      >
                        <%= message %>
                      </div>
                      <% } %>
                      <div class="form-group">
                        <label for="loginInputName"
                          >Email *(Mật khẩu mới sẽ được gửi về email của
                          bạn)</label
                        >
                        <div class="tt-required">* Trường bắt buộc</div>
                        <input
                          type="text"
                          name="email"
                          class="form-control"
                          id="loginInputName"
                          placeholder="Nhập email"
                        />
                      </div>

                      <div class="row">
                        <div class="col-auto">
                          <div class="form-group">
                            <button class="btn btn-border" type="submit">
                              XÁC NHẬN
                            </button>
                          </div>
                        </div>
                        <div class="col-auto align-self-center">
                          <div class="form-group">
                            <ul class="additional-links">
                              <li>or <a href="/">Quay về cửa hàng</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <% include partials/footer %>
    </footer>
    <a href="#" class="tt-back-to-top">BACK TO TOP</a>
    <!-- Partials -->
    <% include partials/modal-addtocartproduct %> <% include
    partials/modal-quickviewmodal %> <% include partials/modal-videoproduct %>
    <% include partials/modal-subscribegood %> <% include
    partials/modal-newsletter %> <% include partials/script %>
  </body>
</html>
