<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
<body>
	<% include partials/loader %>
<header>
	<% include partials/header %>
</header>

<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="/">Home</a></li>
			<li>Danh sách</li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<div class="container-indent">
		<div class="container">
			<div class="tt-layout-promo-box">
				<div class="row">
					<div class="col-sm-6">
						<a href="listing-left-column.html" class="tt-promo-box tt-one-child">
							<img src="/images/loader.svg" data-src="images/promo/promo-collection-01.jpg" alt="">
							<div class="tt-description">
								<div class="tt-description-wrapper">
									<div class="tt-background"></div>
									<div class="tt-title-small">SHIRTS &AMP; TOPS</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-sm-6">
						<a href="listing-left-column.html" class="tt-promo-box tt-one-child">
							<img src="/images/loader.svg" data-src="images/promo/promo-collection-02.jpg" alt="">
							<div class="tt-description">
								<div class="tt-description-wrapper">
									<div class="tt-background"></div>
									<div class="tt-title-small">DRESSES</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-4">
						<a href="listing-left-column.html" class="tt-promo-box tt-one-child">
							<img src="/images/loader.svg" data-src="images/promo/promo-collection-03.jpg" alt="">
							<div class="tt-description">
								<div class="tt-description-wrapper">
									<div class="tt-background"></div>
									<div class="tt-title-small">SWEATERS</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-4">
						<a href="listing-left-column.html" class="tt-promo-box tt-one-child">
							<img src="/images/loader.svg" data-src="images/promo/promo-collection-04.jpg" alt="">
							<div class="tt-description">
								<div class="tt-description-wrapper">
									<div class="tt-background"></div>
									<div class="tt-title-small">POLO SHIRTS</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-4">
						<a href="listing-left-column.html" class="tt-promo-box tt-one-child">
							<img src="/images/loader.svg" data-src="images/promo/promo-collection-05.jpg" alt="">
							<div class="tt-description">
								<div class="tt-description-wrapper">
									<div class="tt-background"></div>
									<div class="tt-title-small">JACKETS</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-4">
						<a href="listing-left-column.html" class="tt-promo-box tt-one-child">
							<img src="/images/loader.svg" data-src="images/promo/promo-collection-06.jpg" alt="">
							<div class="tt-description">
								<div class="tt-description-wrapper">
									<div class="tt-background"></div>
									<div class="tt-title-small">PANTS</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-4">
						<a href="listing-left-column.html" class="tt-promo-box tt-one-child">
							<img src="/images/loader.svg" data-src="images/promo/promo-collection-07.jpg" alt="">
							<div class="tt-description">
								<div class="tt-description-wrapper">
									<div class="tt-background"></div>
									<div class="tt-title-small">SHOES</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-4">
						<a href="listing-left-column.html" class="tt-promo-box tt-one-child">
							<img src="/images/loader.svg" data-src="images/promo/promo-collection-08.jpg" alt="">
							<div class="tt-description">
								<div class="tt-description-wrapper">
									<div class="tt-background"></div>
									<div class="tt-title-small">HATS</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer>
	<% include partials/footer %>
</footer>
<a href="#" class="tt-back-to-top">BACK TO TOP</a>
<!-- Partials -->
<% include partials/modal-addtocartproduct %>
<% include partials/modal-quickviewmodal %>
<% include partials/modal-videoproduct %>
<% include partials/modal-subscribegood %>

<% include partials/script %>
</body>
</html>